$color_black: black;
$color_darkgrey: #353535;
$color_white: white;
$color_grey: grey;
$color_purple: #9356DC;
$font-family_roboto: "roboto", sans-serif;
$font-family_shrik: "shrikhand";
$background-color_1: #EAEAEA;
$background-color_2: #F6F6F6;
$background-color_3: #f6f6f6;
$background-color_4: #9356DC;
$background-color_5: white;
$background-color_6: #353535;
$border-color_unset: unset;
$border-color_purple: #9356DC;
$lightGreen: #99E2D0;