.card-love {
    cursor: pointer;
    position: relative;

    i {
        font-size: 28px;
        color: black;
    }

    .fa-solid {
        color: transparent;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 1s ease-in-out;
        position: absolute;
        left: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.entete {
    width: 208px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 16px;
    color: $color_white;
    height: 50px;
    border-color: $border-color_unset;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    margin-bottom: 20px;
    border-style: unset;
    cursor: pointer;
    background: linear-gradient(356deg, rgba(155, 89, 220, 1) 0%, rgba(167, 127, 216, 1) 33%, rgba(255, 121, 218, 1) 100%);
    transition: box-shadow .5s, opacity .5s, transform .5s;

    &:hover {
        opacity: 85%;
        background: linear-gradient(356deg, lighten(rgba(155, 89, 220, 1), 5%) 0%, lighten(rgba(167, 127, 216, 1), 5%) 33%, lighten(rgba(255, 121, 218, 1), 5%) 100%);
        box-shadow: 4px 8px 10px 4px rgba(0, 0, 0, 0.25);
        -ms-transform: scale(1.01);
        /* IE 9 */
        -webkit-transform: scale(1.01);
        /* Safari 3-8 */
        transform: scale(1.01);
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-left: 100%;
    }

    100% {
        opacity: 1;
        margin-left: 0%;
    }
}

section.menu {
    animation: fadeIn 0.5s both;

    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: 500ms * $i;
        }
    }
}

footer {

    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    color: $color_white;
    background-color: $background-color_6;

    h2 {
        padding-left: unset;
        font-family: $font-family_shrik;
        font-weight: normal;
        font-size: 18px;
        margin: unset;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    nav {
        p {
            display: flex;
            flex-direction: column;
            margin: unset;
            padding-top: 10px;
            font-size: 16px;
        }
    }
}

.footnav {
    padding-top: 10px;

    .fa-solid {
        margin-right: 20px;
        color: $color_white;
        width: 5px;
    }

    i {
        font-size: 12px;
    }
}

@media only screen and (min-width: 960px) {


    footer {
        padding-bottom: 30px;
        padding-top: 16px;
        display: flex;
        align-items: flex-end;
        padding-right: 20%;

        nav {
            display: flex;
            flex-direction: row;
            padding-top: 40px;
            align-items: center;

            p {
                font-size: 16px;
                font-weight: 400;
                padding-left: 20px;
                margin: unset;
                padding-top: 10px;
            }

            h2 {
                left: 77%;
                display: flex;
                padding-right: 5%;
                padding-left: 8%;
                position: absolute;

            }
        }

        .footnav {
            padding-left: 10px;

        }
    }
}