$color_1: black;
$color_2: #353535;
$color_3: white;
$color_4: grey;
$color_5: #9356DC;
$color_locali:#353535;
$font-family_1: "roboto", sans-serif;
$font-family_2: "shrikhand";
$background-color_1: #EAEAEA;
$background-color_2: #F6F6F6;
$background-color_3: #f6f6f6;
$background-color_4: #9356DC;
$background-color_5: white;
$background-color_6: #353535;
$border-color_1: unset;
$border-color_2: #9356DC;
